{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.program'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_index') }}">{{ 'back.list'|trans }}</a>
{% endblock %}
