{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}
    {{ 'programs'|trans }}
{% endblock %}

{% block body %}
    <div class="index">
        <div class="">
            <h1>{{'programs'|trans}}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>{{ 'search'|trans }}</button>
            {{ form_end(form) }}
            <div class="row justify-content-around">
                {% for program in programs %}
                    <div class="movie col-5 d-flex">
                        <div class="poster col-6">
                            <img class="poster" src="{{ program.poster }}">
                        </div>
                        <div class="col-6">
                            <h2>{{ program.title }}</h2>
                            <p>{{'categorie'|trans}} : {{ program.category.name }}</p>
                            {% if app.user %}
                                <i id="watchlistIcon" class="watchlist {{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart"></i>
                            {% endif %}
                            <p>{{ program.summary }}</p>
                            <div class="button">
                                <a class="btn btn-secondary" href="{{ path("program_show", { slug: program.slug }) }}">{{ 'see.program'|trans }}</a>
                            </div>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">{{ 'edit'|trans}}</a>
                            {%endif%}
                        </div>
                    </div>
                {% else %}
                    {{ 'no.series'|trans}}
                {% endfor %}
            </div>
            <a class="btn btn-secondary" href="{{ path('app_index') }}">{{ 'back.menu'|trans }}</a>
        </div>
    </div>
{% endblock %}
