{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saison {{ season.number }} de {{ program.title }}</h1>
    <p>{{ season.description }}</p><br>
    <p>Liste des épisode</p>
    <ul>
        {% for episode in episodes %}
            <li><a href="{{ path("program_episode_show", { program: program.id, season: season.number, episode: episode.id }) }}">{{ episode.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path("program_show", { id: program.id }) }}">Retour à la fiche</a>
{% endblock %}